.landing-home{

    background-image: url("../images/landing_bg.jpeg");
    @media #{$medium-up} {
        background-image: url("../images/landing_bg_big.jpeg");
    }

    background-size: cover;
    background-position: center center, center center;

    @media #{$medium-up} {
        background-attachment: fixed;
    }

    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;

    .landing-overlay{
        background: radial-gradient(ellipse at center, rgba(255,255,255,0.4) 0%,rgba(46, 49, 146, 0.4) 100%);
        width: 100%;
        height: 100%;
    }


    .profile-picture{

        width: $profile-picture-size/1.5;
        margin: auto;
        padding-top: 50%;
        padding-bottom: 1rem;

        @media #{$medium-up} {
            width: $profile-picture-size;
            padding-top: 30%;
        }

        @media #{$large-up} {
            position: absolute;
            margin: 0;
            padding: 0;
            left: 15%;
            top: 30%;
        }

        .profile-img{

            @media #{$medium-up} {
                width: $profile-picture-size;
                height: $profile-picture-size;
                border-radius: $profile-picture-size;
                border: 10px solid rgba(255, 255, 255, 0.3);
            }

            width: $profile-picture-size/1.5;
            height: $profile-picture-size/1.5;
            border-radius: $profile-picture-size/3;
            border: 5px solid rgba(255, 255, 255, 0.3);
        }
    }

    .landing-content{

        text-align: center;

        @media #{$large-up} {
            position: absolute;
            text-align: left;
            top: 30%;
            left: 15%;
            margin-left: $profile-picture-size;
        }

        h1{
            font-weight: 400;
            margin: 0;
            font-size: $h1-size;
            color: white;
        }

        .landing-message {
            display: none;
            @media #{$medium-up} {
                display: block;
            }
        }

        p{
            font-weight: 200;
            font-size: 1.5rem;

            @media #{$medium-up} {
                margin-left: 2rem;
                margin-right: 2rem;
            }
        }
    }

    .landing-arrows{
        position: absolute;
        margin-left: -11px;
        left: 50%;
        bottom: 2rem;
        fill: white;
        opacity: 0.3;
        cursor: pointer;
    }
}