@import "nav";
@import "landing";

.wrapper{
    position: relative;

    .main-content{
        position: relative;

        section{
            background-color: white;
            min-height: 50rem;
        }
    }
}

