@import "nav";
@import "landing";
@import "whoiam";

.wrapper{

    z-index: 1;
    position: relative;
    background-color: white;

    &.animate {
        transition: 0.5s all ease-in-out;
    }

    .main-content{
        position: relative;

        section{
            padding: 2rem 0;
            background-color: white;
            min-height: 20rem;
        }
    }
}

body.menu-open{
    .wrapper, .hamburger {
        transform: translateX($side-menu-width);

        @media #{$medium-up} {
            transform: translateX(0);
        }
    }


}