@import "nav";
@import "landing";
@import "whoiam";

.wrapper{
    position: relative;

    .main-content{
        position: relative;

        section{
            padding: 2rem 0;
            background-color: white;
            min-height: 20rem;
        }
    }
}

