header.navbar.top {

    position: fixed;
    top:0;
    left: 0;
    width: $side-menu-width;
    height: 100%;
    z-index:0;
    background-color: $dark_blue;

    @media #{$medium-up} {
        background-color: transparent;
        z-index: 10;
        transition: all 0.3s ease-in-out;
        height: $nav-height;
        position: fixed;
        top: 0;
        width: 100%;
    }

    &.background-on{

        background-color: $light-purple;
        height: $nav-height + 0.5rem;
        box-shadow: rgba(0,0,0,.1) 0px 5px 2px;
        nav.top-nav a{
            margin-top: 1.5rem;
        }
    }

    .row{
        height: $nav-height;

        @media #{$medium-up} {
            line-height: $nav-height;
        }
    }

    nav.top-nav{

        position: relative;
        width: 100%;
        padding-top: 3rem;

        @media #{$medium-up} {
            padding: 0;
        }

        a{
            transition: all 0.5s ease-in-out;
            position: relative;
            text-transform: uppercase;
            display: block;
            text-align: left;
            padding: 1rem;

            @media #{$medium-up} {
                display: inline-block;
            }

            .nav-link{
                position: relative;
                display: inline-block;
                vertical-align: -3px;
            }

            svg{
                display: inline-block;
                vertical-align: middle;
                margin: 0 2rem;
                height: 25px;
                fill: rgba(255, 255, 255, 0.4);
            }

            &.active svg{
                fill: white;
            }
        }
    }
}

.hamburger {

    position: fixed;
    z-index: 10;

    &.animate {
        transition: 0.5s all ease-in-out;
    }

    &::before {
        position: absolute;
        top: 10px;
        left: 10px;
        content: '≡';
        color: rgba(white, 0.4);
        font-size: 3.5rem;
        line-height: 1.5rem;
    }

    @media #{$medium-up} {
        display: none;
    }
}

.hamburger.dark {
    &::before {
        color: rgba(black, 0.4);
    }
}
