header.navbar.top {

    position: fixed;
    top:0;
    left: 0;
    width: $side-menu-width;
    height: 100%;
    z-index:0;
    background-color: $dark_blue;

    @media #{$medium-up} {
        z-index: 10;
        transition: all 0.3s ease-in-out;
        height: $nav-height;
        position: fixed;
        top: 0;
        width: 100%;
    }

    &.background-on{

        background-color: $light-purple;
        height: $nav-height + 0.5rem;
        box-shadow: rgba(0,0,0,.1) 0px 5px 2px;
        nav.top-nav a{
            margin-top: 1.5rem;
        }
    }

    .row{
        height: $nav-height;
        line-height: $nav-height;
    }

    nav.top-nav{

        position: relative;
        width: 100%;

        a{
            transition: all 0.5s ease-in-out;
            height: 100%;
            position: relative;
            text-transform: uppercase;
            display: block;

            .nav-link{
                position: relative;
                margin-top: 2rem;
            }

            svg{
                height: 20px;
                fill: rgba(255, 255, 255, 0.4);
            }

            &.active svg{
                fill: white;
            }
        }
    }
}

.hamburger {

    position: absolute;
    z-index: 10;

    &::before {
        position: absolute;
        top: 10px;
        left: 10px;
        content: '≡';
        color: rgba(white, 0.4);
        font-size: 3.5rem;
        line-height: 1.5rem;
    }

    @media #{$medium-up} {
        display: none;
    }
}