#whoiam{
    position: relative;
    color: $violet;
    text-align: center;

    svg.svg-header{
        display: inline;
        margin-top: 1rem;
    }

    h2{
        margin-top: 2rem;
        text-transform: uppercase;
        font-size: 1.2rem;
        position: relative;

        &:after{
            content: "";
            display: block;
            position: absolute;
            height: 2px;
            width: 12rem;
            background-color: $violet;
            bottom: -0.5rem;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    section.content{
        margin-top: 2rem;
        .left{
            p {
                background-color: rgba(0,0,0,0.05);
                height: 15rem;
            }
            padding: 10px;
        }
    }
}